html, body {
	margin: 0;
	padding: 0;
	background-color: #666666;
	/*  background-color:#4183D7;*/
	font-family: Arial, Helvetica, sans-serif;
}

body {
	/*	background-image: url("hangmanBackground.gif");*/
	background-color: #ffff;
}

#topbar{
	height:50px;
	margin:auto;
	margin-top:50px;
	color:#FFF;
	font-size:36px;
	width:800px;
	border-bottom:solid white 1px;
}

#gamePlay{
font-weight: bold;
padding: 3px;
}

#gameContent{
	margin:auto;	
	width:800px;
	height:400px;
	position:relative;
	overflow:hidden;
	/*background-color:#3498DB;*/
	background-image: url("blueBrickWall.gif");
	background-color: #ffff;
	
}



#scoreboard {
	margin:auto;	
	width:800px;
	height:50px;
	background-color: #03A9F4;
	border: solid 1px #ddd
	font: bold;
	float: middle;
	font-size: 25px;
}

/*
#win {
	font-size: 25px;
}
*/

.spacer{height:30px;}




#gameTitle{
	margin-top:100px;
	text-align:center;
	font-size:40px;
	color:black;
	font: bold;
}

.button{font-size:17px;
	width:100px;
	margin:auto;
	margin-top:20px;
	cursor:pointer;
	border:solid 1px white;
	border-radius:4px;
	text-align:center;
	font: bold;
	color:black;
	background-color: red;
}

.button:hover{
	background-color:#6AB0FD;}

	#replay{
		margin-left:0px;}




		#crystalGemContainer{
			display:flex;
			flex-wrap: wrap;
			margin:auto;	
			width:800px;
			height:250px;
			float: middle;
			margin:auto;
		/*	margin-top:50px;
		margin-left:150px;*/
	}

	#crystalGemLabel{
		display:flex;
		flex-wrap: wrap;
		margin:auto;	
		width:680px;
		height:150px;
		float: middle;
		margin:auto;
		/*	margin-top:50px;
		margin-left:150px;*/
	}

	#crystalGemHolder{
		display:flex;
		flex-wrap: wrap;
		margin:auto;	
		width:500px;
		height:175px;
		float: middle;
		margin:auto;
		padding: 5px 5px 5px 5px;
		border: 1px solid #dddddd;
		/*	margin-top:50px;
		margin-left:150px;*/
	}

			#cgImages.crystalGemImage {
			height: 100px;
			width: 100px;
			padding:5px;
			border: solid 1px #272525;
			margin-left: 10px
		}

#cgImages.crystalGemImage:hover {
  background-color: yellow;

}


/*
			#crystalGemImage {
			height: 100px;
			width: 100px;
			padding:5px;
			border: solid 1px #272525;
			margin-left: 10px
		}
*/

	#randomNumberContainer{
		display:flex;
		flex-wrap: wrap;
		height:50px;
		width:400px;
		float: middle;
		margin:auto;
		padding: 5px 5px 5px 5px;
		border: 1px solid #dddddd;
/*		margin-top:130px;
margin-left:150px;*/
background-color: #03A9F4;
}

#randomNumberLabel{
	height:30px;
	width:150px;
	font-size: 20px;
	font-weight: bold;
	margin:auto;
	padding: 3px 3px 3px 3px;
	border: 1px solid #dddddd;
/*		margin-top:130px;
margin-left:150px;*/
background-color: #fff;
}

#randomNumberHolder{
	height:30px;
	width:75px;
	font-size: 20px;
	font-weight: bold;
	margin:auto;
	padding: 3px 3px 3px 3px;
	border: 1px solid #dddddd;
/*		margin-top:130px;
margin-left:150px;*/
background-color: #fff;
}

#playerNumberContainer{
	display:flex;
	flex-wrap: wrap;
	height:50px;
	width:400px;
	float: middle;
	margin:auto;
	padding: 5px 5px 5px 5px;
	border: 1px solid #dddddd;
/*		margin-top:130px;
margin-left:150px;*/
background-color: #03A9F4;
}

#playerNumberLabel{
	height:30px;
	width:150px;
	font-size: 20px;
	font-weight: bold;
	margin:auto;
	padding: 3px 3px 3px 3px;
	border: 1px solid #dddddd;
/*		margin-top:130px;
margin-left:150px;*/
background-color: #fff;
}

#playerNumberHolder{
	height:30px;
	width:75px;
	font-size: 20px;
	font-weight: bold;
	margin:auto;
	padding: 3px 3px 3px 3px;
	border: 1px solid #dddddd;
/*		margin-top:130px;
margin-left:150px;*/
background-color: #fff;
}

#pixHolder{
	margin-top: 5px;
	margin-left:30px;
	width:75px;
	float:left;
	overflow:hidden;
}

#pixHolder img{
	position:relative;}

	#feedback{
		margin-top:20px;
		margin-left:150px;
		font-size:34px;
		color:#0e0d0d;
	}

/*		.tile{
			height:50px;
			width:50px;
			float:left;
			margin:auto;
			background-color:white;
			text-align:center;
			font-size:24px;
			color:#333;
			padding-top:5px;
		}
		*/

		.tile{
			height:150px;
			width:150px;
			/*float:middle;*/
			float:left;
			/*margin:auto;*/
			margin-right:10px;
			background-color:white;
			text-align:center;
			font-size:24px;
			color:#333;
			padding-top:5px;
		}

		.cgImages {
			height: 100px;
			width: 100px;
			padding: 5px;
			border: solid 1px #272525;
			margin-left: 10px
		}


		.crystalImage {
			height: 100px;
			width: 100px;
			padding:5px;
			border: solid 1px #272525;
			margin-left: 10px
		}



		#finalMessage{
			text-align:center;
			font-size:40px;
			color: black;
			width:90%;
			margin:auto;
			margin-top:100px;
		}


		#pixFeedback{
			margin-right: 10px;
			margin-bottom: 10px;
			width:300px;
			float:right;
			/*	overflow:hidden;*/

		}

		#pixFeedback img{
			position:relative;}


			#dummy{
				position:absolute;
				left:-200px;
				top:0px;
			}

			@media screen and (max-width:800px) {
				#topbar{
					margin-left:1%;
					margin-right:1%;	
					width:96%;
				}
				#gameContent{
					margin:1%;	
					width:98%;
				}
				.tile{
					height:150px;
					width:150px;
					font-size:14px;
				}
			}

			@media screen and (max-width:560px) {
	

		#crystalGemContainer{
			display:flex;
			flex-wrap: wrap;
			margin:auto;	
			width:305px;
			height:225px;
			float: middle;
			margin:auto;
		/*	margin-top:50px;
		margin-left:150px;*/
	}

					#crystalGemHolder{
		display:flex;
		flex-wrap: wrap;
		margin:auto;	
		width:300px;
		height:220px;
		float: middle;
		margin:auto;
		padding: 5px 5px 5px 5px;
		border: 1px solid #dddddd;
		/*	margin-top:50px;
		margin-left:150px;*/
	}



				.tile{
					height:75px;
					width:75px;
					font-size:14px;
				}
				#wordHolder{
					margin-top:10px;
					margin-left:10px;
				}
				#clueHolder{
					margin-top:130px;
					margin-left:85px;
				}
				#guesses{
					margin-top:20px;
					margin-left:85px;
				}
				#pixHolder{
					margin-top:50px;
					margin-left:10px;
					position:absolute;
				}
				#feedback{
					margin-left:85px;
					font-size:28px;
				}
				#finalMessage{
					font-size:30px;
				}
			}




















